li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    background-color: cornsilk;
    /* padding: 0 5px; */
    padding: 2px 0;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.delete{
    margin-left: 10px;
    background-color: lightcoral;
}